html {
  --purple: #1e1f5c;
  --blue: #203447;
  --lightblue: #1f4662;
  --blue2: #1C2F40;
  --yellow: #ffc600;
  --pink: #EB4471;
  --vape: #d7d7d7;
  background: var(--blue);
  color: var(--vape);
  font-family: 'Fira Mono';
  font-weight: 100;
  font-size: 10px;
}

::selection {
  background: var(--yellow);
  color: var(--blue);
}

body {
  font-size: 2rem;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}


h1 a {
  text-align: center;
}


a {
  color: var(--yellow);
  text-decoration-color: var(--pink);
  font-style: italic;
}

.site {
  max-width: 1900px;
  margin: 5rem;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 6rem;
}

main {
  display: grid;
  grid-gap: 3rem;
  max-width: 1900px;
  padding: 0 3rem;
  margin: 5rem auto;
}

.people {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5rem;
}

.person {
  border: 1px solid var(--vape);
  border-radius: 5.34334px;
  box-shadow: 10px -10px 0 var(--blue2);
  display: grid;
  grid-template-rows:  1fr auto auto;
}

.person h3 {
  margin: 0;
}

.personInner {
  padding: 2rem;
}

.person .tag {
  font-size: 1.2rem;
}

.name {
  display: block;
}

.name.last {
  font-size: 5rem;
}

.deets {
  display: flex;
  border-block-start: 1px solid var(--vape);
}

.deets > * {
  flex: 1;
  border-inline-start: 1px solid var(--vape);
  text-align: center;
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
}

.deets a {
  color: var(--vape);
}

.deets .at {
  color: var(--yellow);
  margin-right: 2px;
}

.deets :first-child {
  border-inline-start: none;
}

.deets .country {
  font-size: 3rem;
}
.deets .phone {
  padding: 0;
}

.displayLink {
  text-decoration: none;
  color: var(--vape);
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.displayLink:hover {
  color: var(--pink);
}


.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background: var(--pink);
  margin: 2px;
  border-radius: 3px;
  font-size: 1.7rem;
  padding: 5px;
  color: hsla(0, 100%, 100%, 0.8);
  transition: background-color 0.2s;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.tag input { display: none; }

.tag.currentTag {
  background: var(--yellow);
  color: hsla(0, 100%, 0%, 0.8);
}

.tag .emoji {
  transform: scale(1.45);
}

.tag .count {
  background: var(--blue);
  font-size: 1rem;
  color: white;
  padding: 2px;
  border-radius: 2px;
  margin-left: 5px;
}
