/* Fonts */
@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/fira_mono-regular-webfont.woff2') format('woff2'),
        url('./fonts/fira_mono-regular-webfont.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/fira_mono-regular_italic-webfont.woff2') format('woff2'), url('../src/fonts/fira_mono-regular_italic-webfont.woff') format('woff');
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global Styles */
:root {
  --purple: #b066ff;
  --blue: #203447;
  --lightblue: #1f4662;
  --blue2: #1C2F40;
  --yellow: #ffc600;
  --pink: #EB4471;
  --vape: #d7d7d7;
  background: var(--blue);
  color: var(--vape);
  font-family: 'Fira Mono', monospace;
  font-weight: 100;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  overflow-y: scroll;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: var(--yellow);
  text-decoration-color: var(--pink);
  font-style: italic;
}

code {
  background: var(--lightblue);
}

::selection {
  background: var(--yellow);
  color: var(--blue);
}

body::-webkit-scrollbar {
  width: 12px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--yellow) var(--blue);
}

body::-webkit-scrollbar-track {
  background: var(--blue);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 6px;
  border: 3px solid var(--blue);
}


.PersonWrapper {
  border: 1px solid var(--vape);
  border-radius: 5.34334px;
  box-shadow: 10px -10px 0 var(--blue2);
  display: grid;
  grid-template-rows: 1fr auto auto;
}

.PersonInner {
  padding: 2rem;

  & h3 {
    margin: 0;

    & a:visited {
      color: var(--purple);
    }
  }

  & header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    grid-gap: 0 1rem;

    @media all and (max-width: 400px) {
      grid-template-columns: 1fr;
    }

    & img {
      grid-row: 1 / -1;
      font-size: 1rem;
    }

    & .displayLink {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color: var(--vape);
      letter-spacing: 1px;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;

      &:hover,
      &:visited {
        color: var(--pink);
      }
    }
  }
}

.PersonDeets {
  display: flex;
  border-top: 1px solid var(--vape);

  >* {
    flex: 1;
    border-left: 1px solid var(--vape);
    text-align: center;
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;

    &:first-child {
      border-left: 0;
    }
  }

  & a {
    color: var(--vape);
  }

  & .country {
    font-size: 3rem;
    padding-top: 2rem;
  }

  & .phone {
    padding: 0;
  }

  @media all and (max-width: 400px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    >*:nth-child(1),
    >*:nth-child(2) {
      /* lol */
      border-bottom: 1px solid var(--vape);
    }
  }
}

.TwitterHandle {
  font-size: 1.24323423426928098420394802rem;
  & .at {
    color: var(--yellow);
    margin-right: 2px;
  }
}

.Tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.Tag {
  background: var(--pink);
  margin: 2px;
  border-radius: 3px;
  font-size: 1.7rem;
  text-decoration: none;
  &.small {
    font-size: 1.2rem;
  }
  padding: 5px;
  color: hsla(0, 100%, 100%, 0.8);
  transition: background-color 0.2s;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  & input {
    display: none;
  }
  &.currentTag {
    background: var(--yellow);
    color: hsla(0, 100%, 0%, 0.8);
  }
}

.TagEmoji {
  transform: scale(1.45);
}

.TagCount {
  background: var(--blue);
  font-size: 1rem;
  color: white;
  padding: 2px;
  border-radius: 2px;
  margin-left: 5px;
}

.BackToTopLink {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background: var(--pink);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 3px;
  padding: 1rem;
  transition: opacity 0.2s;
  opacity: 0;
  text-decoration: none;

  /* ${props =>
    props.percent > 0.25 &&
    `
    opacity: 1;
  `} */
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.HeaderWrapper {
  text-align: center;

  & h1 {
    font-size: 6rem;
  }
}

.Main {
  display: grid;
  grid-gap: 3rem;
  max-width: 1900px;
  padding: 0 3rem;
  margin: 5rem auto;
}

.People {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5rem;

  @media all and (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}

.People {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5rem;

  @media all and (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}
