/* Fonts */
@font-face {
  font-family: "Fira Mono";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/fira_mono-regular-webfont.woff2") format("woff2"),
    url("./fonts/fira_mono-regular-webfont.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Fira Mono";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/fira_mono-regular_italic-webfont.woff2") format("woff2"),
    url("../src/fonts/fira_mono-regular_italic-webfont.woff") format("woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Global Styles */
:root {
  --purple: #b066ff;
  --blue: #203447;
  --black: #151527;
  --lightblue: #1f4662;
  --blue2: #1c2f40;
  --yellow: #ffc600;
  --pink: #eb4471;
  --vape: #5b5b5b;
  background: var(--black);
  color: var(--vape);
  font-family: "Fira Mono", monospace;
  font-weight: 100;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  overflow-y: scroll;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: var(--yellow);
  text-decoration-color: var(--pink);
  font-style: italic;
}

code {
  background: var(--lightblue);
}

::selection {
  background: var(--yellow);
  color: var(--blue);
}

body::-webkit-scrollbar {
  width: 12px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--yellow) var(--blue);
}

body::-webkit-scrollbar-track {
  background: var(--blue);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 6px;
  border: 3px solid var(--blue);
}

.Main {
  display: grid;
  grid-gap: 3rem;
  max-width: 1900px;
  padding: 0 3rem;
  margin: 5rem auto;
}
